@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4d6be0;
}
.container{
    width: 695px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}
.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid rgb(226, 212, 212);
}
.text-input .to-text{
    border-radius: 0px;
    border: 1px solid rgb(226, 204, 204);

}
.text-input textarea{
    height: 255px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
}
.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls{
    list-style: none;
    padding: 12px 15px;

}
.container .row.from .icons{
    border-right: 1 px solid rgb(214, 185, 185);
    padding-right: 15px;
}
.container .row.to .icons{
    border-left: 1 px solid #bbb;
    padding-left: 15px;
}
.controls .icons{
    width: 38%;
}
.controls .icons i{
    width: 50px;
     color: #9f9f9f;
     font-size: 14px;
     cursor: pointer;
     justify-content: center;

}
.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background: #6ba3e2;
}
.container button:hover{

}
.credit-footer{
    margin: auto;
    text-align: center;
    padding-top: 20px;
}